<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black text-white flex items-center justify-center h-screen">

<div class="bg-gray-900 p-8 rounded-xl w-96">

    <h1 class="text-2xl mb-6">Login</h1>

    {% for message in messages %}
        <p class="text-red-400">{{ message }}</p>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}

        <input name="username" placeholder="Username"
               class="w-full p-2 mb-3 text-black">

        <input name="password" type="password" placeholder="Password"
               class="w-full p-2 mb-3 text-black">

        <button class="bg-purple-600 w-full p-2">
            Login
        </button>
    </form>

    <p class="mt-4 text-sm">
        No account?
        <a href="/accounts/register/" class="text-purple-400">Register</a>
    </p>

</div>

</body>
</html>